@font-face {
    font-family: "HighlandGothicFLF";
    src: url('../fonts/HighlandGothicFLF.ttf');
}

@font-face {
    font-family: "Silent_Reaction";
    src: url('../fonts/Silent_Reaction.ttf');
}

@font-face {
    font-family: "myFirstFont1";
    src: url('../fonts/Admiration_Pains.ttf');
}

@font-face {
    font-family: "HighlandGothicLightFLF";
    src: url('../fonts/HighlandGothicLightFLF.ttf');
}


* { margin: 0; padding: 0; }


body {
	background-color:#eeffff;

	color: #000000;
	text-align: left;
	line-height:140%;	
}

#bottom_line{
	margin-bottom:10px;
	text-align:center;
}

#bottom_line p{
	font-family: HighlandGothicFLF;
	font-size:12px;
	text-align:center;
	margin-left:30%;
}


#top_div{
	background-image: url("../images/bg_head.png");
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top:0px;
	padding-top:31%;
	padding-bottom: 10px;
}



#tlacidla{
	font-family: HighlandGothicFLF;
	font-size:20px;
	font-weight:bold;
	margin-top: 0px;
	text-color:black;	
	text-align:center;
	text-decoration:none;
	padding-top:0px;
	padding-bottom:8px;
}


#uvodtext {
	margin-top:70px;
	margin-bottom:100px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	line-height: 30px; 
}

#kontakt{
	margin-top:50px;
	text-align: center;
	font-size:14px;
	font-style:italic;
	line-height: 30px;
	vertical-align: middle;
}

#cennik{
	text-align:center;
}

#table_cennik{
	text-align:center;
}

#table_cennik td{
	width:250px;
	height:25px;
}

.cenaColl{
	width: 10px !important; /* Overwrite any previous rules */
}

.blank_row
{
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #e9d8c8;
}

a, a:link, a:visited{ text-decoration: none; color: black;}
a:hover{ color:#a91a14; text-decoration:none; }
a:focus { -moz-outline: none -moz-mac-focusring; }


#menuList li{
	display: inline;
	list-style-type: none;
	padding-right: 17px;
	padding-left: 17px;
}



.table_picture td {
	text-align: center;	
	padding: 10px;
}

#foto_all{
	margin-bottom:100px;
}

#foto_all a img{
	border: 1px solid #000000;
	//margin: .8em .6em .6em .6em;
	//margin-left: 30px;
	//width: 175px;
	//height: 125px;	
	//vertical-align: top;
	
}

#ceny_dph p{
	margin-top:15px;
	color:#a91a14;
	font-weight:bold;
	font-size:17px;
}