* { margin: 0; padding: 0; }
body {
	background-color:#eeffff;
	font-family: Arial, Helvetica, sans-serif;

	color: #000000;
	text-align: left;
	line-height:140%;	
}



#nadpis{
	text-align: center;
	margin-top: 40px;
}

#line{
	text-align: center;
	margin-top: 7px;
}

#tlacidla{
	font-size:20px;
	font-weight:bold;
	margin-top: 60px;
	text-color:black;	
	text-align:center;
	text-decoration:none;	
}


#uvodtext {
	margin-top:50px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	line-height: 30px;
}

#kontakt{
	margin-top:50px;
	text-align: center;
	font-size:14px;
	font-style:italic;
	line-height: 30px;
	vertical-align: middle;
}

#cennik{
	text-align:center;
}

#table_cennik{
	text-align:center;
}

#table_cennik td{
	width:250px;
	height:25px;
}

.cenaColl{
	width: 10px !important; /* Overwrite any previous rules */
}

.blank_row
{
    height: 10px !important; /* Overwrite any previous rules */
    background-color: gray;
}

a, a:link, a:visited{ text-decoration: none; color: black;}
a:hover{ color:#700404; text-decoration:none; }
a:focus { -moz-outline: none -moz-mac-focusring; }


#menuList li{
	display: inline;
	list-style-type: none;
	padding-right: 17px;
	padding-left: 17px;
}



